**/*.xml
**/*.dcd
**/*.pdf
**/*.tar.gz
**/*.npy

.vscode/

__pycache__/
my-tests/
archive/
slurm-output/
REMO/
backup/
*tmp*/

examples/minimal-example/

dist/
openabc.egg-info/

.ipynb_checkpoints/

