**/*.xml
**/*.dcd
**/*.pdf
**/*.tar.gz
**/*.npy

.vscode/

__pycache__/
my-tests/
archive/
slurm-output/
REMO/
backup/
*tmp*/

examples/minimal-example/

dist/
openabc.egg-info/

.ipynb_checkpoints/


# Local/cache files
__pycache__/
*__pycache__/
.___pycache__
._*

# Local MOFF2 test outputs
tutorials/MOFF2-IDP-LLPS/output/
tutorials/MOFF2-simulations/outputs/
.DS_Store
